{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}GestorPro{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'loja_app/css/base.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}">
    <header>
        <h1>GestorPro</h1>
        <nav>

            {% if user.is_authenticated and request.resolver_match.url_name != 'dashboard' and request.resolver_match.url_name != 'lista_lojas' %}
            {% endif %}

         
            {% if request.resolver_match.url_name != 'lista_lojas' %}
                <a href="{% url 'lista_lojas' %}">Ver Lojas</a>
            {% endif %}

            {% if user.is_authenticated %}
                {% if user.is_staff %}
                   {% if request.resolver_match.url_name != 'lista_categorias' %}
                        <a href="{% url 'lista_categorias' %}">Categorias</a>
                    {% endif %}
                    
                    {% if request.resolver_match.url_name != 'lista_fornecedores' %}
                        <a href="{% url 'lista_fornecedores' %}">Fornecedores</a>
                    {% endif %}

                    {% if 'produto' not in request.resolver_match.url_name %}
                        <a href="{% url 'lista_produtos' %}">Produtos</a>
                    {% endif %}

                    {% if 'cliente' not in request.resolver_match.url_name %}
                        <a href="{% url 'lista_clientes' %}">Clientes</a>
                    {% endif %}

                    {% if request.resolver_match.url_name != 'lista_vendas' %}
                        <a href="{% url 'lista_vendas' %}">Vendas</a>
                    {% endif %}

                    {% if request.resolver_match.url_name != 'lista_itens_venda' %}
                        <a href="{% url 'lista_itens_venda' %}">Itens Vendidos</a>
                    {% endif %}

                    {% if request.resolver_match.url_name != 'lista_movimentacoes_estoque' %}
                        <a href="{% url 'lista_movimentacoes_estoque' %}">Mov. Estoque</a>
                    {% endif %}

                    <a href="/admin/">Administração</a>
                {% endif %}
            {% else %}
            {% endif %}
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</html>