{% extends 'loja_app/base.html' %}
{% load static %}

{% block body_class %}lojas-page{% endblock %}

{% block title %}Lista de Lojas{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'loja_app/css/loja_list.css' %}">
{% endblock %}

{% block content %}
    <h2 class="titulo-lista">Lista de Lojas</h2>
    
    {% if user.is_staff %}
        <a href="{% url 'cadastrar_loja' %}" class="botao">Cadastrar Nova Loja</a>
    {% endif %}

    <ul class="lista-lojas">
        {% for loja in lojas %}
            <li>
                {{ loja.nome }}
                
                {% if user.is_staff %}
                    <a href="{% url 'editar_loja' loja.id %}" class="botao">Editar</a>
                    <a href="{% url 'excluir_loja' loja.id %}" class="botao">Excluir</a>
                {% endif %}
            </li>
        {% empty %}
            <li>Nenhuma loja cadastrada.</li>
        {% endfor %}
    </ul>

    {% if messages %}
    <div class="messages-container">
        {% for message in messages %}
            <div class="message {{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    </div>
    {% endif %}

    <div class="back-button-container">
        <a href="{% url 'home' %}" class="btn-back">Voltar</a>
    </div>
    
{% endblock %}